*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(WhatsApp\ Image\ 2024-03-16\ at\ 13.49.49_b44ba45c.jpg);

    background-repeat:no-repeat;
    background-size: cover;
}
#1{
    opacity: 0.2;
}
header{
    /* padding-left: 12vw; */
    display: flex;
    height: fit-content;
    justify-content: center;
}
.img img{
    height: 18vh;
    width: 10vw;
    border-radius: 50%;
}
.title{
    padding-top: 5vh;
    font-size: xx-large;
    position: relative;
    left: 0px;
    color:darkkhaki;
}
.description{
    position:left;
    top: 11vh;
    left: -18.5vw;
}
form{
    padding-left: 90px;
    margin-left: 30vw;
margin-top: 9vh;
border: solid;
border-radius: 14px;
border-color: rgb(197, 154, 14);
margin-right: 36vw;
margin-bottom: 9vh;
padding-top: 10vh;
padding-left: 10vw;
padding-right: 10vw;
padding-bottom: 10vh;
font-size: x-large;
}
.name{
padding-bottom: 2vh;
border-radius: 50px;
color: aliceblue;
}
.pass{
padding-bottom: 2vh;
border-radius: 50px;
color: aliceblue;

}
.reset{
    padding-left: 15vw;
padding-bottom: 2vh;


}
.reset a{
    text-decoration: none;
    color: aliceblue;
}
#login{
    width: 14vw;
height: 8vh;
font-size: 1rem;
border-radius: 50px;
}
.google{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(94, 144, 149);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1rem;
}
.phone{
    margin-top: 5px;
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(94, 144, 149);
    border-radius: 50px;
    color: aliceblue;
}
