*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(WhatsApp\ Image\ 2024-03-16\ at\ 13.49.49_b44ba45c.jpg);

    background-repeat:no-repeat;
    background-size: cover;
}
header{
    /* padding-left: 12vw; */
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img img{
    height: 18vh;
    width: 10vw;
    border-radius: 50%;
    
}
.title{
    padding-top: 5vh;
    font-size: xx-large;
    position: relative;
    left: 0px;
    color:darkkhaki;
}
.form{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
margin-top: 5vh;
border: solid;
border-radius: 14px;
border-color: rgb(197, 154, 14);
padding: 5vh 10vw;
margin-right: 25vw;
margin-left: 33.5vw;
margin-bottom: 5vh;
font-size: x-large;
}
input{
    border-radius: 20px;
   width: 15vw;
   height: 5vh;
}
.name{
    display: flex;
    flex-direction: column;
padding-bottom: 2vh;
border-radius: 50px;
color: aliceblue;
}
.pass{
    display: flex;
    flex-direction: column;
/* padding-bottom: 2vh; */
border-radius: 50px;
color: aliceblue;

}
.reset{

margin-bottom: 2vh;


}
a{
    text-decoration: none;
    color: aliceblue;
}
.signup{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(94, 144, 149);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1rem;
    width: 12vw;
    padding: 20px;
}
.google{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(94, 144, 149);
    border-radius: 50px;
    color: aliceblue;
    font-size: 1rem;
    width: 12vw;
    padding: 20px;
}
input:hover{
    border: 3px solid rgb(197, 154, 14);
}
.button:hover{
    background-color: rgb(197, 154, 14);
    opacity: 70%;
}
.phone{
    margin-top: 5px;
    display: flex;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(94, 144, 149);
    border-radius: 50px;
    color: aliceblue;
    width: 12vw;
    padding: 20px;
}
.copyright{
    color: black;
    padding: 5px 0;
    text-align: center;
    height: fit-content;
    background-color: rgb(197, 154, 14);
}
@media only screen and (max-width: 800px){
   .img img{
   height: 100px;
    width: 100px;
    margin-top: 10vh;
    border: 2px solid rgb(197, 154, 14);
   }
   .title{
    padding-top: 5vh;
   }
   .form{
    padding-top: 2vh;
    padding-right:vw;
    margin-left: 15vw;
    width: 48vw;
    
   }
   .name{
    font-size: 1.2rem;
   }
   .pass{
    font-size: 1.2rem;
   }
   input{
    margin-top: 1.5vh;
    height: 3vh;
    width: 50vw;
   }
   .reset{
    font-size: 1rem;
   }
   .button{
    width: 40vw;
   }
   input:hover{
    border: 2px solid rgb(197, 154, 14);
}
.button:hover{
    background-color: rgb(197, 154, 14);
    opacity: 70%;
}
.copyright{
    margin-top: 8.5vh;
}
}
